<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 2</title>
    <meta charset="utf-8">
    <script src="js/main.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="tufte.css"/>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body>
    <form action="/login" method="POST">
      <input type='text' name='User'>
      <input type='password' name='Pass'>
      <input type='submit'>
    </form>

    {{{msg}}}


  </body>
</html>
