<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 2</title>
    <meta charset="utf-8">
    <script src="js/main.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    
    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body>

    {{{msg}}}

    <form>
      <input type="text" id="stormname" placeholder="Storm name here">
      <input type="text" id="year" placeholder="Year here">
      <input type="text" id="windspeed" placeholder="Wind speed here (mph)">
      <input type="text" id="airpressure" placeholder="Air pressure here (mbar)">
      <button class="changer">submit</button>
      <button id="delete" class="changer">delete</button>

    </form>
  <table id="dataset"></table>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
    <form action="/logoff" method="POST">
      <input type='submit' value="Log Off">
    </form>
  </body>
</html>
